astropy==6.1.1
astropy-iers-data==0.2024.6.17.0.31.35
asttokens==2.4.1
colorama==0.4.6
contourpy==1.2.1
cycler==0.12.1
executing==2.0.1
fonttools==4.53.0
kiwisolver==1.4.5
matplotlib==3.6.0
numpy==1.22.1
packaging==24.1
pillow==10.3.0
pyerfa==2.0.1.4
Pygments==2.18.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
scipy==1.13.1
six==1.16.0
